.App {
  text-align: center;
}

.show {
  height: 60px;
  background-color: gray;
  width: 100%;
}

.keypad {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.buttons {
  display: block;
}

.buttons button {
  width: 25%;
}